<h1> Edit task</h1>
<%= form_for @task, :url=>{:action=>'update',:id=>@task} do |f| %>
    <table>
        <tr>
            <td><label for="task_title">Title</label>:</td>
            <td><%= f.text_field 'title' %></td>
        </tr>
        <tr>
            <td><label for="task_description">Description</label>:</td>
            <td><%= f.text_area 'description' %></td>
        </tr>
        <tr>
            <td><label for="task_due_date">Due date</label>:</td>
            <td><%= f.date_field 'due_date' %></td>
        </tr>
    </table>
    <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'All taks', {:action => 'list'} %>